#reset {
    visibility: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #264653;
    background-color: #e9c46a;
}

main {
    max-width: 940px;
    margin: 0 auto;
}

button {
    background-color: #264653;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
}

.choice {
    flex: 0 1 200px;
}

.choice:disabled {
    background-color: dimgray;
}

.choices {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 20px 80px;
}

.container p {

}

#result {
    font-weight: bold;
    font-size: 24px;
}

#winner {
    font-size: 32px;
    font-weight: bold;
}

ul {
    margin-top: 10px;
}

.instructions {
    margin-bottom: 0;
}

.scores {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
}

.scores span {
    color: #e76f51;
    font-weight: bold;
}